<div class="grid-container">
  <h1 class="mat-h1">Demo Projects</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let x of cards | async" [colspan]="x.cols" [rowspan]="x.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title >
            {{x.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle >
            <mat-list role="list">
            <mat-list-item *ngFor="let y of x.lineItems">{{y.item}}</mat-list-item></mat-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
