<!-- <div class="grid-container"> -->
<!-- <h1 class="mat-h1">Dashboard</h1> -->
<!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> -->
<div class="main-div">
  <mat-card class="header-card">
    <!-- <div> -->
    <mat-card-title>
      Wesley Chan
    </mat-card-title>
    <br />
    <mat-card-title>Front-End Developer</mat-card-title>
    <!-- </div> -->
    <img mat-card-image src="\assets\images\0.jpg" />
    <mat-card-content class="dashboard-card-content">

      <div>
        <!-- {{cards.content}} -->
      </div>
      <p> Do you have an idea, or know you want to expan your Business in the digital space?<br /> Lets have a chat and see if i can help you!</p>
    </mat-card-content>
  </mat-card>

</div>
<!-- </mat-grid-tile>
  </mat-grid-list> -->
<!-- </div> -->
